* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #000000;
  margin: 10px;
  padding: 0;

}

.container {
  background-color: #001f36;
 
}

#header {
  background-color: #001f36;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

#header h1 {
  font-size: 2rem;
  margin: 0;
}

#header h1 a {
  text-decoration: none;
  color: #0d6efd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
  height: 120px; /* diminui a altura da logo */
  width: auto;
}

#header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 10px 0 0 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#header nav ul li {
  display: inline;
}

#header nav ul li a {
  color: #0d6efd;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header nav ul li a:hover {
  text-decoration: underline;
  color: crimson;
}


#pesquisa {
  text-align: center;
  margin-top: 30px;
}

.barra-pesquisa {
  padding: 10px;
  font-size: 1rem;
  width: 60%;
  max-width: 400px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn-pesquisar {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #121210;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}

#btn-pesquisar:hover {
  background-color: #555;
}

/*Grid semana 4*/

/*  grid #conteudo {
  margin: 40px auto;
  max-width: 1200px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
} */

.img1 {
  width: 100%;
  height: 80%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.img1:hover {
  transform: scale(1.05);
}

/*Responsividade semana 4*/

@media (max-width: 1024px) {
  #conteudo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #conteudo {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {

  #conteudo {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .barra-pesquisa {
    width: 90%;
  }

  #btn-pesquisar {
    width: 100%;
  }

  #header h1 {
    font-size: 2rem;
  }

  #header nav ul li {
    display: block;
    margin: 10px 0;
  }
}

#footer {
  background-color: #003f69;
  color: white;
  padding: 20px 0;
  width: 100%;
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto; 
  font-size: 0.9rem;
  flex-wrap: wrap;
}

#footer div {
  flex: 1;
  text-align: center;
}

#footer svg {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  fill: white;
  cursor: pointer;
}

div h3 {
  text-align: center;
  padding: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.img0 {

  width: 120px;
  height: 120px;
}


.carrossel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;

}

.carrossel-itens {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel-item {
  min-width: 100%;
  box-sizing: 80px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 150px;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.centered {
  text-align: center;
  padding: 30px;
}
#img67{
  border-radius: 10%;
}